      <% for(var i = 0; i < tweets.length; i++) { %>
      <div class="tweet">
        <div class="user">
          <div><a class="username" href="http://twitter.com/<%= tweets[i].user.screen_name %>" handle="<%= tweets[i].user.screen_name %>" target="_blank"><%= tweets[i].user.name %></a> - <span class="add-btn">Add</span></div>
          <div class="description"><%= tweets[i].user.description %></div>
        </div>
        <div><%= tweets[i].text %></div>
        <hr />
      </div>
      <% } %>
